/* Sources background : https://wall.alphacoders.com/by_sub_category.php?id=240912&name=My+Hero+Academia+Wallpapers */

body {
    background-image: url(../Images/Background_Login.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: heroes;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border: solid 2px rgba(250, 219, 74, 0.8);
    background-color: rgba(235, 50, 35, 0.8);
    font-size: larger;
    border-radius: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > * {
    margin: 2% 0px;
    font-family: heroes;
}

input {
    border-radius: 20% 0px 20% 0px;
}
