/* Sources background : https://wall.alphacoders.com/by_sub_category.php?id=240912&name=My+Hero+Academia+Wallpapers */

body{
    background-image: url(../Images/Background_Login.png);
    background-repeat: no-repeat;
    background-size: cover;


    font-family : heroes;
}

form{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 400px;
    border-style: solid;
    border-width: medium;
    border-color: rgba(250,219,74,0.8);
    border-radius: 5px;
    background-color: rgba(235,50,35,.8);
    font-size:larger;
}

form > input, label{
    width: 60%;
    margin: 5% 10% 5% 18%;
    padding-top: 2%;
}
form > button {
    margin-left: 33%;
    margin-bottom: 5%;
    width: 30%;
}
form > input, button{
    border-radius: 20px;
}

form > label{
    margin-left: 35%;
}